<div class="user_show_header">
  <h1> <%= @user.name %> </h1>
</div>

<div class="sort_reviews_links">
<p>Sort Reviews:
  <a href="/users/<%= @user.id%>?sorting=created_at&direction=DESC" >Newest-First</a> /
  <a href= "/users/<%=@user.id%>?sorting=created_at&direction=ASC" >Oldest-First</a>
</p>
</div>

<div class="user_show_reviews">
    <% @reviews.each do |rev| %>
      <div class="review">
        <span class="review_<%= rev.id  %>">
          <%= rev.title %>
        </span>
        <ul>
          <li> <%= rev.score %> </li>
          <li> <%= rev.description %> </li>
        </ul>
        <div class="delete" id="delete_<%= rev.id %>"><%= link_to "Delete Review", review_path(rev), method: "delete" %></div >
      </div>
    <% end %>
</div>
