<h1>Books</h1>

<% @books.each do |book| %>
  <div class="book_card" id="book-<%= book.id %>">
  <h2><%= book.title %></h2>
  <ul class="book_stats">
    <li>Author(s):
      <% book.authors.each do |auth| %>
      <ul class="book_authors">
        <li> <%= auth.name %> </li>
      </ul></li>
    <% end %>
    <li>Pages: <%= book.pages %></li>
    <li>Year: <%= book.year %> </li>
  </ul>
<% end %>
