<div class="book_show_header">
  <h1><u><%=@book.title%></u></h1>
  <% @book.authors.each do |auth| %>
  <p>By: <%=auth.name%></p> <% end %>
  <p>Pages: <%=@book.pages%> </p>
</div>

<div class="book_show_stats">
  <p>Average Rating: <%=@book.avg_rating%></p>
  <div class="top_3_reviews"
    <p>Top 3 reviews:</p>
    <ul>
      <% @book.top_3_reviews.each do |rev| %>
      <li><u><%=rev.title%></u>, by <span class="user_link"><%= link_to "#{rev.user.name}", user_path(rev.user)%></span>, Rating: <%=rev.score%></li>
      <% end %>
    </ul>
  </div>
  <div class="bottom_3_reviews">
    <p>Bottom 3 reviews:</p>
    <ul>
      <% @book.bottom_3_reviews.each do |rev| %>
      <li><u><%=rev.title%></u>, by <span class="user_link"><%= link_to "#{rev.user.name}", user_path(rev.user)%></span>, Rating: <%=rev.score%></li>
      <% end %>
    </ul>
  </div>
</div>


<div class="reviews_block">
<h4>Reviews:</h4>
<div class="review">
<% @book.reviews.each do |rev| %>
<p><u><%=rev.title%></u>, by <span class="user_link"><%= link_to "#{rev.user.name}", user_path(rev.user)%></span></p>
<p>Score: <%=rev.score%></p>
<p>Review: "<%=rev.description%>"</p>
<% end %></div>
</div>
