<div class="book_show_header">
  <h1><u><%=@book.title%></u></h1>
  <% @book.authors.each do |auth| %>
    <p>By: <%=auth.name%></p>
  <% end %>
  <p>Pages: <%=@book.pages%> </p>
</div>

<div class="new_review">
  <%= link_to "Click Here To Add A New Review", new_book_review_path(@book)  %>
</div>

<div class="book_show_stats">
  <p>Average Rating: <%=@book.avg_rating%></p>
  <div class="top_3_reviews"
  <ul>Top 3 reviews:
    <% @book.top_3_reviews.each do |rev| %>
    <li><u><%=rev.title%></u>, <%=rev.user.name%>, Rating: <%=rev.score%></li>
    <% end %>
  </ul></div>
  <div class="bottom_3_reviews"><ul>Bottom 3 reviews:
    <% @book.bottom_3_reviews.each do |rev| %>
    <li><u><%=rev.title%></u>, <%=rev.user.name%>, Rating: <%=rev.score%></li>
    <% end %>
  </ul></div>
</div>


<div class="reviews_block">
<h4>Reviews:</h4>
<div class="review">
<% @book.reviews.each do |rev| %>
<p><u><%=rev.title%></u>, by <%=rev.user.name%></p>
<p>Score: <%=rev.score%></p>
<p>Review: "<%=rev.description%>"</p>
<% end %></div>
</div>
